My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json\n\nconst emergency = data.emergencyType\nconst latitude = data.latitude || \"unknown\";\nconst longitude = data.longitude || \"unknown\";\nconst loc = data.currentlocation\n\nconst jsonData = {\n      emergencyType: emergency,\n      latitude: latitude,\n      longitude: longitude,\n      currentlocation: loc,\n      timestamp: new Date().toISOString()\n    }\n;\n\nreturn jsonData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        48
      ],
      "id": "9ffac241-6120-4fff-8866-b3f0e39a8101",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "877296c1-8f75-4255-90d2-aa32bba052ee",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        -144
      ],
      "id": "b42fa013-fafd-4200-a795-5138e8e0a21c",
      "name": "FireEmergency",
      "webhookId": "877296c1-8f75-4255-90d2-aa32bba052ee"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d53a9096-f144-4329-9699-301a93c86593",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        48
      ],
      "id": "6649ab5a-7cf6-4456-86ed-16ac4b5b9e75",
      "name": "AmbulanceEmergency",
      "webhookId": "d53a9096-f144-4329-9699-301a93c86593"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e722cb1-b963-495e-934e-f3150aeff6de",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        240
      ],
      "id": "84dd4bb0-2e01-449f-928d-c47166070067",
      "name": "PoliceEmergency",
      "webhookId": "0e722cb1-b963-495e-934e-f3150aeff6de"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"incidentId\": \"={{ $now.toISOString() }}\",\n  \"emergencyType\": \"={{ $('Call GIS Calculator').item.json.emergencyType }}\",\n  \"nearestUnit\": \"={{ $('Call GIS Calculator').item.json.nearestUnit }}\",\n  \"distance\": \"={{ $('Call GIS Calculator').item.json.distance }}\",\n  \"eta\": \"={{ $('Call GIS Calculator').item.json.eta }}\",\n  \"unitLocation\": \"={{ $('Call GIS Calculator').item.json.unitLocation }}\",\n  \"incidentLocation\": \"={{ $('Call GIS Calculator').item.json.incidentLocation }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        48
      ],
      "id": "15f10487-c20d-4f57-9012-d74503800895",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://deanna-wardless-hubbly.ngrok-free.dev/calculate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"latitude\": {{ $json.latitude }},\n  \"longitude\": {{ $json.longitude }},\n  \"emergencyType\": \"{{ $json.emergencyType }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        48
      ],
      "id": "1405136d-98cb-4eb6-834f-e7fbb5eb6422",
      "name": "Call GIS Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "FireEmergency": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AmbulanceEmergency": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PoliceEmergency": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call GIS Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GIS Calculator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92fdd8df-e1d7-42cd-8c85-67ff9910cf73",
  "meta": {
    "instanceId": "15155333c9db6902f50c5b5313379fdcc83a282c05093de40e61d95b5276ca73"
  },
  "id": "TV3ULdtPmbQCnI3u",
  "tags": []
}